.article h1 {
  font-size: 200%;
  margin: 20px auto;
}

.article p {
  line-height: 30px;
  font-size: 150%;
  margin: 30px auto;
}

.article li {
  font-size: 130%;
  line-height: 30px;
}

.article blockquote {
  background-color: lightgrey;
  padding: 0 10px;
  border-radius: 5px;
}