.article h1 {
  font-size: 200%;
  margin: 20px auto;
}

.article p {
  line-height: 30px;
  font-size: 130%;
  margin: 30px auto;
}

.article li {
  font-size: 130%;
  line-height: 30px;
}

.article blockquote {
  padding: 0 10px;
  border-left: thin solid #4ABDAC;
}

.article blockquote p {
  margin: 2px auto;
}

.article pre {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  overflow-x: auto;
}